h1,
h2,
h3 {
    font-family: 'Georgia', Times, Times New Roman, serif;
}

body {
    font-family: 'Arial', 'Helvetica Neue', Helvetica, sans-serif;
    color: #777;
    background-image: url(/assets/images/brushed_alu_@2X.png);
    background-color: #ebebeb;
    font-size: 14px;
    line-height: 150%;
    margin-right: auto;
    margin-left: auto;
    margin-top: 0;
    overflow: auto;
}

/* nav bar header */

/*the wrapper is the section that 
spans the entire width of the page 
and has the bottom thin grey border */

#wrapper {
    background: white;
    max-width: 100%;
    margin-bottom: 30px;
    border-bottom: 2px solid lightgrey;
}

/* the header contains the h1 name and the nav links to
other pages and has a max width of 960px 
My header has a height of 67px so that it will be the 
same height as my h1 */

header {
    max-width: 960px;
    margin: 0 auto;
    height: 67px;
}

/* h1 name in header, this is where the box around the name is created.
The h1 has a height of 67px because the padding is 23px top & bottom,
23+23=46 . The font size is 20px.  46+20=66. There is a 1px border.
Total=67px */

h1 {
    padding: 23px;
    color: white;
    background: #88a2ad;
    float: left;
    margin: 0 0 0;
    border-width: 1px;
    border-color: darkgrey;
}

/* the below is for the navigation links in the header */

nav {
    float: right;
}

/* the below gets rid of the bullet points and indent that
is the default styling on unordered lists */

nav ul {
    margin: 0;
    padding: 0;
    list-style: none;
}

/* the below applies to every li */

nav li {
    color: lightgrey;
    display: inline-block;
    margin-left: 15px;
    padding-top: 20px;
}

/* the below two styles will apply to only the li items
that contain a link and will not affect the <li>|</li> design spacers */

nav a {
    color: rgb(170, 170, 170);
    text-decoration: none;
}

nav a:hover {
    color: #88a2ad;
}

/* the below applies a clearfix to occur after the header */

header::after {
    content: "";
    display: table;
    clear: both;
}

/* Main Section */

.block {
    max-width: 960px;
    margin: 0 auto;
    background: white;
    overflow: auto;
    padding-bottom: 10px;
}

h2 {
    color: #88a2ad;
    padding-top: 30px;
    padding-bottom: 5px;
    padding-left: 40px;
}

hr {
    border: 1px solid lightgrey;
    max-width: 880px;
}

#bio-image {
    width: 200px;
    height: 200px;
    margin-right: 20px;
    padding: 20px 0px 10px 40px;
    float: left;
}

p {
    padding: 10px 40px 40px 40px;
}

/* for portfolio gallery */

.box-set {
    color: white;
    text-align: center;
    position: relative;
    width: 960px;
    height: auto;
    padding-top: 5px;
}

.box {
    width: 250px;
    padding-top: 140px;
    padding-bottom: 40px;
    background: #88a2ad;
    border: 1px solid lightgrey;
    margin: 20px 0px 20px 40px;
    float: left;
}

/* Contact Form */

.contact {
    color: rgb(170, 170, 170);
    width: 100%;
    max-width: 880px;
    margin: 12px 40px 0px 40px;
    box-sizing: border-box;
}

.form {
    width: 100%;
    margin: 0;
}

.inner-form {
    width: 100%;
    min-height: 50px;
    margin-bottom: 10px;
    overflow: hidden;
}

.form input[type="text"],
.form textarea {
    padding: 5px 0 5px 5px;
    box-sizing: border-box;
    width: 100%;
    border: 1px solid rgb(222, 222, 222);
    border-radius: 2px;
    outline: none;
    transition: all 0.2s ease;
}

.label {
    margin: 10px 0 2px 0;
    color: rgb(170, 170, 170);
}

::placeholder {
    color: lightgrey;
}

input[type=text] {
    color: rgb(170, 170, 170);
}

textarea {
    color: rgb(170, 170, 170);
    height: 150px;
}

/* Contact Page Submit Button */

button {
    Padding: 10px 20px 10px 20px;
    color: white;
    background: #88a2ad;
    float: left;
    margin-top: 10px;
    margin-bottom: 10px;
    font-size: 14px;
    border-width: 1px;
    border-color: lightgrey;
}

/* footer */

footer {
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    border-top: 5px solid #88a2ad;
    background-color: darkgrey;
    color: white;
    text-align: center;
    font-size: 8px;
    padding-top: 40px;
    padding-bottom: 2px;
}